@page "/CV"
<PageTitle>Career so far</PageTitle>
<Text Class="h3">My professional career so far</Text>
<Icon Class="pl-2 cursor-pointer" Name="IconName.FilePdf" TextColor="TextColor.Danger" @onclick="ToggleClickMessage"/>
@if (ShowMessage)
{
    <span>Sadly, this doesn't work yet :(</span>    
}
<CardDeck Class="mt-3 p-3">
    @foreach(Job job in Jobs)
    {
        <Card>
            <CardImage Source="@job.Image" Alt="@job.ImageAlt"></CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @job.JobTitle @@ <a href="@job.CompanyUrl" target="_blank">@job.CompanyName</a>
                </CardTitle>
                <CardSubtitle Class="p-1">
                    From: @job.From
                </CardSubtitle>
                @if (!string.IsNullOrEmpty(job.To))
                {
                    <CardSubtitle Class="p-1">
                        To: @job.To
                    </CardSubtitle>
                }
                else
                {
                    <CardSubtitle Class="p-1">
                        <Text TextColor="TextColor.Success">Ongoing</Text>
                    </CardSubtitle>
                }
                <CardText>
                    <CV.Components.CustomTabs Job="@job" Class="pt-2"></CV.Components.CustomTabs>
                </CardText>
            </CardBody>
        </Card>    
    }
</CardDeck>
